html{
    height: 100%;
}
body{
    background: url(images/home_img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
    color: white;
}
#content{
    text-align: center;
    padding-top: 22%;
    text-shadow: 2px 2px 4px black;
}
h1{
    font-weight: 600;
    font-style: italic;
    font-size: 5em;
}
footer{
    margin-top: 10rem;
}
.product:hover{
    color:steelblue;
    cursor: pointer;
}
.blog:hover{
    color:steelblue;
    cursor: pointer;
}
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}